version: '3.3'
services:
    python:
        container_name: pruebascript
        volumes:
           - ./app:/usr/src/app
        image: youtubeimagen:chromecast
        tty: true
        stdin_open: true
        working_dir: /usr/src/app
        command: ["python","myscript.py"]